apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-hello-api
  labels:
    app: k8s-hello-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: k8s-hello-api
  template:
    metadata:
      labels:
        app: k8s-hello-api
    spec:
      containers:
      - name: k8s-hello-api
        image: k8s-hello-api:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 3
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 10